/* Acá va tu código */

body{

  background-image: url(https://i.pinimg.com/564x/e4/50/eb/e450eb70b3b3274b4d0363006c64943c.jpg);
}




.titulo{
  position: relative;
  left:350px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}
.mensajedecifra{
  font-family: 'Baloo Chettan', cursive;
  position: relative;
  left:900px;
  top:225px;
}
.mensajedifra{
  font-family: 'Baloo Chettan', cursive;
  position: relative;
  left:80px;
  top:170px;

}




.cuadroText3{
   resize: none;
   position: relative;
   z-index:1;
    top:-340px;
    left:800px; 
   
}
.offsettextdes{
  position: relative;
   z-index:0;
    top:-280px;
    left:850px; 
    font-family: 'Baloo Chettan', cursive;
    font-size: 20px;
}


.cuadroText1{
 resize: none;
 position: relative;
 z-index:1;
  top:185px;
  left:100px; 
  font-family: 'Pacifico', cursive;
  font-size: 12px;
   } 
  
.offset{
  position:relative;
  left:130px;
  top: 250px;
  font-family: 'Baloo Chettan', cursive;
  font-size: 20px;
  
}
.offsetbarra{
  position:relative;
  left:200px;
  top: 200px;
}

.botoncifrar{
  position:relative;
  left:240px;
  top: 220px;
  background-color:#ff447c;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: 'Baloo Chettan', cursive;
  
  cursor: pointer;
}
.textarea2{
  resize: none;
  position: relative;
  z-index:1;
   top:250px;
   left:100px; 
  
}


.offsetcuadrodes{
  position: relative;
  z-index:0;
   top:-330px;
   left:920px; 

}
.botondes{
  position: relative;
  z-index:0;
   top:-310px;
   left:920px; 
   background-color:#ff447c;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: 'Baloo Chettan', cursive;

}
.outputdes{
  position: relative;
  z-index:1;
   top:-280px;
   left:800px; 

}
.cuadro{
  position:absolute;
  z-index:0;
  top:300px;
  left:95px;
  background-color: #805E67;
  width: 405px;
  height: 180px;
  border: 15px solid #805E67;
  padding:0px;
  border-radius: 15px;
}

.cuadro2{
  position:absolute;
  z-index:0;
  top:300px;
  left:795px;
  background-color: #805E67;
  width: 405px;
  height: 180px;
  border: 15px solid #805E67;
  padding:0px;
  border-radius: 15px;
}

.cuadro3{
  position:absolute;
  z-index:0;
  top:705px;
  left:95px;
  background-color: #805E67;
  width: 405px;
  height: 180px;
  border: 15px solid #805E67;
  padding:0px;
  border-radius: 15px;
}

.cuadro4{
  position:absolute;
  z-index:0;
  top:705px;
  left:795px;
  background-color: #805E67;
  width: 405px;
  height: 180px;
  border: 15px solid #805E67;
  padding:0px;
  border-radius: 15px;
}
.chen{
  position: absolute;
 left:600px;
  top:1000px;
  z-index:0;
}
.logo{
  position: absolute;
  z-index:0;
  top:-10px;
  left:260px;
}
.chenrecuerda{
  position: absolute;
  z-index:0;
  top:520px;
  left:400px;
}
#wiki{
top: 1090px;
left: 710px;
position: absolute;
}
.do{
  position: absolute;
 left:200px;
  top:1100px;
  z-index:0;
}
#art{
  top: 1175px;
  left: 355px;
  position: absolute;
  }